/home/tikuisma/ot-harjoitustyo/laskarit/viikko2/unicafe/src/tests/kassapaate_test.py
/home/tikuisma/ot-harjoitustyo/laskarit/viikko2/unicafe/src/tests/maksukortti_test.py
/laskarit/viikko2/unicafe/src/tests/kassapaate_test.py ____
/ot-harjoitustyo/laskarit/viikko2/unicafe/src/tests/kassapaate_test.py'
/laskarit/viikko2/unicafe/src/tests/maksukortti_test.py ____
/ot-harjoitustyo/laskarit/viikko2/unicafe/src/tests/maksukortti_test.py

